
p{
    color: rgb(126, 124, 124);
    padding: 25px;
    border: 1px solid rgb(0, 0, 0); 
    outline: solid 1px rgb(0, 0, 0);
    outline-offset: 4.5px;
    width: 96%;
}

body{
    font-family: 'Arvo',sans-serif;
    font-size: 20;
    color: rgb(28, 0, 0);
    padding: 3.5%;
    background-color: #F4EEEF;
    border: solid 1px;
    outline-offset: 4.5px;
    outline: solid 1px;
}

h1{   
    border: 1px solid rgb(0, 0, 0); 
    outline-offset: 4.5px;
    outline: 1px solid rgb(0, 0, 0);
}







